{% extends "layout.html" %}
{% set pageId = "create-point" %}

{% block title %}
    <title>Cadastre um ponto de coleta</title>
{% endblock title %}

{% block content %}
        <header>
            <div class="logo">
                <img src="assets/scarf.svg" alt="Logo">
                <span>
                    Warm Up
                </span>
            </div><!--logo-->

            <div class="log-in">
                <span></span><!--log-in-asset-->
                <a href="/">
                    Voltar para home
                </a>
            </div><!--log-in-->
        </header>

        <form action="/savepoint" method="POST">
            <h1>Cadatre um ponto de coleta</h1>

            <fieldset>
                <legend>Dados da entidade</legend>
            
                <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required>
                </div><!--field-->
            
                <div class="field">
                    <label for="image">Imgem da entidade</label>
                    <input type="url" name="image" placeholder="http://" required>
                </div><!--field-->

                <div class="field-group">
                    <div class="field">
                        <label for="phone">Telefone</label>
                        <input type="text" name="phone" required>
                    </div><!--field-->
            
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" required>
                    </div><!--field-->
                </div><!--field-group-->

                <div class="field-group">
                    <div class="field">
                        <label for="address">Endereço</label>
                        <input type="text" name="address" required>
                    </div><!--field-->
            
                    <div class="field">
                        <label for="adress2">Número/Complemento</label>
                        <input type="text" name="adress2" required>
                    </div><!--field-->
                </div><!--field-group-->

                <div class="field-group">
                    <div class="field">
                        <label for="state">Estado</label>
                        <select name="uf" required>
                            <option value="">Selecione o Estado</option>
                        </select>

                        <input type="hidden" name="state">
                    </div><!--field-->
            
                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" disabled required>
                            <option value="">Selecione a Cidade</option>
                        </select>
                    </div><!--field-->
                </div><!--field-group-->
            </fieldset>

            <fieldset>
                <legend>
                    <h2>Itens de coleta</h2>
                    <span>Seleceione um ou mais itens abaixo</span>
                </legend>

                <div class="items-grid">
                    <li data-id="Roupas">
                        <img src="assets/clothes.svg" alt="Roupas">
                        <span>Roupas</span>
                    </li>
                    
                    <li data-id="Brinquedos">
                        <img src="assets/heart.svg" alt="Brinquedos">
                        <span>Brinquedos</span>
                    </li>

                    <li data-id="Alimentos">
                        <img src="assets/kitchen.svg" alt="Alimentos">
                        <span>Alimentos</span>
                    </li>
                    <input type="hidden" name="items">
                </div><!--items-grid-->

            </fieldset>

            <div class="button">
                <button type="submit">Cadastrar ponto de coleta</button>
            </div><!--button-->
        </form>
    </div><!--create-point-->
{% endblock content %}

{% block modal %}
{% if saved %}
{% include "partials/sucess-modal.html"%}
{% endif %}
{% if error %}
{% include "partials/error-modal.html"%}
{% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="scripts/create-point.js"></script>
{% endblock scripts %}

<!--icons-author
Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->