#search-results {
    @include content();
    
    span.backgroung-cover {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 252px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    main.search-results {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 48px;
        padding: 0 1% 0 1%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 18px;
            font-weight: normal;
        }


        div.cards {
            margin-top: 48px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 18px;
            padding: 0 1% 0 1%;
        
            div.card {
                text-align: center;
                background-color: $background-color;
                border-radius: 15px;

                img {
                    width: 100%;
                    height: 150px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    object-fit: cover;
                }

                h1 {
                    margin-top: 4px;
                    font-size: 24px;
                    padding: 8px;
                }

                h3 {
                    margin-top: 18px;
                    color: $secondary-color;
                    padding: 12px;
                }

                p {
                    text-align: left;
                    padding: 16px;
                }
            }
        }
    }
}