#page-home {
    height: 100vh;
    background: url('../assets/radar-screen.svg') no-repeat;
    background-position-x: 60vw;
    background-position-y: 30vh;
    background-size: 480px 480px;

    div.content {
        width: 90%;
        height: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        header {
            padding-top: 48px;
            display: flex;
            justify-content: space-between;

            div.logo {
                display: flex;
                align-items: center;
                
                img {
                    width: 64px;
                    height: 64px;
                }

                span {
                    padding-left: 10px;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 36px;
                    font-weight: bold;
                    color: $title-color;
                }
            }

            div.log-in {
                display: flex;
                align-items: center;

                span {
                    background: url('../assets/log-in.svg');
                    width: 20px;
                    height: 20px;
                }

                a {
                    font-size: 18px;
                    font-weight: bold;
                    color: $title-color;
                    padding-left: 10px;
                }
            }
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-top: 48px;
            justify-content: space-between;

            div.banner {
                margin: 0 auto;
                width: 90%;
                height: 600px;

                div.box {
                    overflow: hidden;
                    position: relative;
                    border-radius: 50px;
                    width: 100%;
                    height: 100%;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    
                   img.img1 {
                       animation-name: transparency1;
                       animation-duration: 9s;
                       animation-delay: 3s;
                       animation-iteration-count: infinite;
                       z-index: 2;
                    }

                    @keyframes transparency1 {
                        0% {
                            opacity: 1;
                        }
                        33% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 0;
                        }
                    }

                    img.img2 {
                        animation-name: transparency2;
                        animation-duration: 9s;
                        animation-delay: 5s;
                        animation-iteration-count: infinite;
                        z-index: 1;
                    }

                    @keyframes transparency2 {
                        0% {
                            opacity: 1;
                        }
                        33% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }

                    img.img3 {
                        z-index: 0;
                    }
                }
            }

            div.button {
                margin: 48px auto;
                
                a {
                    display: flex;
                    align-items: center;
                    width: 360px;
                    height: 80px;
                    background-color: #D62828;
                    border-radius: 16px;

                    span {
                        width: 80px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top-left-radius: 16px;
                        border-bottom-left-radius: 16px;
                        background-color: rgba(0, 0, 0, 0.08);

                        &::after {
                            content: "";
                            background: url(../assets/search.svg) no-repeat;
                            width: 24px;
                            height: 24px;
                        }
                    }

                    strong {
                        color: $background-color;
                        font-size: 18px;
                        margin: 0 auto;
                    }

                    &:hover {
                        background-color: rgb(192, 37, 37);  
                    }
                }
            }
        }
    }
}