#page-home {
    @include content();

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        justify-content: space-between;
        align-items: center;

        #slider {
            width: 90%;
            max-width: 1000px;
            height: 60vh;
            max-height: 600px;
            position: relative;
            
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                opacity: 0;
                transition: opacity 2s;
                border-radius: 30px;
            }

            img.selected {
                opacity: 1;
            }
        }

        div.button {
            margin: 48px auto;
            
            a {
                display: flex;
                align-items: center;
                width: 360px;
                height: 80px;
                background-color: $secondary-color;
                border-radius: 16px;

                span {
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    background-color: rgba(0, 0, 0, 0.08);

                    &::after {
                        content: "";
                        background: url(../assets/search.svg) no-repeat;
                        width: 24px;
                        height: 24px;
                    }
                }

                strong {
                    color: $background-color;
                    font-size: 18px;
                    margin: 0 auto;
                }

                &:hover {
                    background-color: rgb(192, 37, 37);  
                }
            }
        }
    }
}