* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #EAE2B7;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #003049;
}

a {
  text-decoration: none;
}

header {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.logo img {
  width: 64px;
  height: 64px;
}

header div.logo span {
  padding-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #003049;
}

header div.log-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.log-in span {
  background: url("../assets/log-in.svg");
  width: 20px;
  height: 20px;
}

header div.log-in a {
  font-size: 18px;
  font-weight: bold;
  color: #003049;
  padding-left: 10px;
}

#page-home {
  width: 90%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-home main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-home main #slider {
  width: 90%;
  max-width: 1000px;
  height: 60vh;
  max-height: 600px;
  position: relative;
}

#page-home main #slider img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  border-radius: 30px;
}

#page-home main #slider img.selected {
  opacity: 1;
}

#page-home main div.button {
  margin: 48px auto;
}

#page-home main div.button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 80px;
  background-color: #D62828;
  border-radius: 16px;
}

#page-home main div.button a span {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: rgba(0, 0, 0, 0.08);
}

#page-home main div.button a span::after {
  content: "";
  background: url(../assets/search.svg) no-repeat;
  width: 24px;
  height: 24px;
}

#page-home main div.button a strong {
  color: #EAE2B7;
  font-size: 18px;
  margin: 0 auto;
}

#page-home main div.button a:hover {
  background-color: #c02525;
}

#create-point {
  width: 90%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#create-point form {
  margin: 48px auto;
  width: 85%;
  background-color: white;
  border-radius: 15px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#create-point form h1 {
  text-align: center;
}

#create-point form fieldset {
  border: 0;
  margin-top: 24px;
}

#create-point form fieldset legend {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

#create-point form fieldset legend h2 {
  margin-top: 16px;
  font-size: 22px;
}

#create-point form fieldset legend span {
  font-size: 18px;
  font-weight: normal;
}

#create-point form fieldset div.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#create-point form fieldset div.field-group .field + .field {
  margin-left: 24px;
}

#create-point form fieldset div.field {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#create-point form fieldset div.field label {
  font-size: 18px;
  margin-bottom: 4px;
}

#create-point form fieldset div.field input, #create-point form fieldset div.field select {
  width: 100%;
  height: 48px;
  font-size: 18px;
  background-color: #EAE2B7;
  border: 0;
  border-radius: 8px;
  padding: 15px;
}

#create-point form fieldset div.items-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin: 24px 0;
}

#create-point form fieldset div.items-grid li {
  background-color: #EAE2B7;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0px 28px;
  border: 2px solid #FCBF49;
  border-radius: 15px;
  cursor: pointer;
  height: 254px;
}

#create-point form fieldset div.items-grid li.selected {
  background-color: #FCBF49;
  border: 3px solid #003049;
}

#create-point form fieldset div.items-grid li img {
  pointer-events: none;
}

#create-point form fieldset div.items-grid li span {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  color: #003049;
  pointer-events: none;
}

#create-point form div.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#create-point form div.button button {
  background-color: #D62828;
  width: 360px;
  height: 80px;
  font-weight: bold;
  font-size: 18px;
  color: #EAE2B7;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
}

#create-point form div.button button:hover {
  background-color: #c02525;
}

span.backgroung-cover {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 252px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 0 1% 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h4 {
  font-size: 18px;
  font-weight: normal;
}

main div.cards {
  margin-top: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  padding: 0 1% 0 1%;
}

main div.cards div.card {
  text-align: center;
  background-color: #EAE2B7;
  border-radius: 15px;
}

main div.cards div.card img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

main div.cards div.card h1 {
  margin-top: 4px;
  font-size: 24px;
  padding: 8px;
}

main div.cards div.card h3 {
  margin-top: 18px;
  color: #D62828;
  padding: 12px;
}

main div.cards div.card p {
  margin-top: 12px;
  text-align: left;
  padding: 16px;
}
/*# sourceMappingURL=main.css.map */